.media-panel {
  background-color: #ffffff;
  height: 100vh;
  overflow: scroll;
  padding: 10px 10px;
}

.media-panel::-webkit-scrollbar {
 display: none;
}

.panel-title {
  color: #4a5257; 
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 0;
}
