.used-img-card {
  width: 300px;
  height: 195px;
  border-radius: 8px;
}

.used-img-wrapper {
  flex-basis: 32.6%;
  height: 195px;
  position: relative;
  margin: 0 8px 8px 0;
}

.utilities-wrapper {
  display: none;
}

.used-img-wrapper:hover .utilities-wrapper {
  display: block;
}
