.canvas-container {
  padding: 25px;
  background-color: #e1ebf5;
  flex: 1;
  display: flex;
}

.canvas {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
  flex: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.show-info {
  border: 2px dashed #DDE2E8;
  border-radius: 8px;
  padding: 40px;
  text-align: center;
}

.icon-wrapper {
  background: #ECF8FF;
  padding: 10px;
  display: flex;
  border-radius: 8px;
  color: #35AEF2;
}
